<ng-http-loader  
  [extraDuration]="300"
  [minDuration]="300"
  [entryComponent]="spinnerComponent">
</ng-http-loader>

<div class="page-container">
  <div class="menu">
    <div class="menu-item"><a href="#" [routerLink]="['/home']">Home</a></div>
    <div class="menu-item"><a href="#" [routerLink]="['/search']">Search</a></div>
    <div class="menu-item"><a href="#" [routerLink]="['/search-location']">Location</a></div>
    <div class="menu-item"><a href="#" [routerLink]="['/list']">All Breweries</a></div>
  </div>
  <router-outlet></router-outlet>
</div>